.margin-t-20 {
    margin-top: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.price {
    bottom: 15px;
}

.muti_menu ul li a {
    padding: 13px 11px;
}

.product-icon.product-icon-buy a {
    width: auto;
    padding-left: 10px;
    color: white;
    padding-right: 10px;
    margin-left: 10px;
    float: left;
    width: auto !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.name {
    margin-top: 0;
}

.product-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 361px;
}

.product-img img {
    max-height: 361px;
}

.part_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100px;
    min-height: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.part_item img {
    max-height: 100px;
}

.muti_menu ul li .tasnim .tas,
.muti_menu ul li .rayed .tas {
    padding-bottom: 0;
}

.tab_area .text a {
    padding: 16px 17px 13px 17px;
    color: #a8a8a8;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.add-to-cart .qty {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.table>tbody+tbody {
    border-top: 0px;
}

.pro-img-tab-content .tab-pane {
    border: 0px;
}

.footer-content .icon {
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 73px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-address address a:hover {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.footer-address address a:focus {
    text-decoration: none;
}

.table {
    margin-bottom: 0;
}

.table_carac {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 767px) {
    .table_carac {
        width: 100%;
        margin-left: 0;
    }

    .home2-all-area {
        padding-bottom: 20px;
    }
}

.table_carac tr td {
    padding: 13px !important;
    font-size: 12px;
    text-transform: uppercase;
}

#characteristic {
    border: 0 !important;
    padding: 0;
}

.simpleLens-lens-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.simpleLens-big-image {
    max-height: 400px;
}

.product_img_min a {
    height: 100px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0;
}

.product_img_min a img {
    max-height: 100px;
    border: none !important;
    margin: 0 !important;
}

@media(min-width: 992px) and (max-width: 1199px) {
    .simpleLens-lens-image {
        height: 380px;
    }

    .simpleLens-big-image {
        max-height: 380px;
    }

    .product_img_min a {
        height: 80px;
    }

    .product_img_min a img {
        max-height: 80px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .simpleLens-lens-image {
        height: 300px;
    }

    .simpleLens-big-image {
        max-height: 300px;
    }

    .product_img_min a {
        height: 70px;
    }

    .product_img_min a img {
        max-height: 70px;
    }
}

.simpleLens-lens-element {
    margin-top: 5px;
}

.tab_area .text li {
    margin-top: 10px;
    margin-right: 16px;
}

.tab_area .nav-tabs::before {
    top: 59%;
}

@media(max-width: 767px) {
    .product_img_min a {
        height: 90px;
    }

    .product_img_min a img {
        max-height: 90px;
    }

    .tab_area .nav-tabs::before {
        top: 115%;
    }
}

.layered-content li a {
    position: relative;
}

.layered-content li.active a {
    color: #858585;
}

.layered-content li a:focus {
    text-decoration: none;
}

.layered-content.no_cb li a:before {
    content: none !important;
}

.layered-content.no_cb li a:after {
    content: none !important;
}

.layered-content li.active a:after {
    position: absolute;
    left: 4px;
    height: 3px;
    width: 3px;
    top: 5px;
    display: block;
    content: '';
    background: #858585;
}

.layered-content li.active a:before {
    border: 1px solid #858585;
}

.modal-body {
    float: left;
    width: 100%;
    background: white;
}


/*
.modal-check-top,.modal-check-bottom,.check-row{
    float: left;
    width: 100%;
}

.check-row > div {
    float: left;
        display: flex;
    justify-content: center;
    align-items: center;
}

.check-row{
    display: flex;
        font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
}



.modal-dialog{
    width: 700px !important;
}

.modal-product-nb{
    min-width: 4%;
}

.modal-product-enabled{
    min-width: 4%;
}

.modal-product-name{
    width: 100%;
    justify-content: flex-start !important;
    padding-left: 10px;
}

.modal-product-qty{
    width: 20%
}

.modal-product-qty input{
    max-width: 70px;
}

.modal-product-price{
    width: 20%;
}
*/

td.item-nom input[type="checkbox"] {
    display: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0;
    vertical-align: middle;
}

#productModal button.close {
    right: -13px;
    top: -13px;
    background: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #444444;
}

#productModal button.close span {
    line-height: 27px;
    color: #444444;
    border: none;
}

.modal-dialog {
    width: 600px !important;
}

.modal-up,
.modal-down {
    float: left;
    width: 100%;
}

.modal-up {
    /*    padding-bottom: 20px;
        border: 1px solid #7e7e7e;*/
}

.modal-down {
    /*    padding-top: 20px;
    border-top:1px solid #a4a4a4;*/
}

.modal-down input {
    width: 100%;
}

.shop-container cart {
    border: 0;
}

.shop-container {
    width: 100%;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.shop-container thead {
}

table.shop-container th {
    padding: 15px;
    padding-left: 0;
    padding-right: 30px;
    font-size: 14px;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
    font-weight: 600;
}

td.item-nom input {
    margin-left: 5px
}

table.shop-container th:first-child {
    padding-right: 55px;
}

table.shop-container tbody {
    /*background: #fafafa;*/
}

table.shop-container tbody tr {
    height: 50px;
}

table.shop-container tbody tr:last-child {
}

table.shop-container .item-row td:first-child {
    width: 20px;
    padding-right: 0;
}

table.shop-container .item-row td.item-check {
    width: 20px;
}

table.shop-container .item-row td.item-thumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 100%;
}

table.shop-container .item-row td.item-name {
    text-align: left;
    width: 55%;
}

table.shop-container td {
    /*padding: 15px;*/
}

table.cart .item-name > a {
    color: #39342e;
    font-size: 16px;
}

table.cart .item-name > * {
    display: block;
}

.quantity input {
    width: 85px;
    text-align: center;
    border: 1px solid #a4a4a4;
    height: 35px;
}

.title-account {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.item-thumb a {
    display: block;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item-thumb a img {
    margin: 0 auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
    opacity: 0.5;
}

@media (max-width: 570px) {
    .cart .item-thumb,
    .cart .item-name > span {
        display: none;
    }

    .shop-container td.item-name {
    }

    th.item-remove {
        display: none;
    }

    th.item-empty {
        display: none;
    }

    table.shop-container td {
        padding: 8px;
    }

    th.item-quantity {
        word-wrap: break-word;
    }

    td.item-subtotal .amount {
        font-size: 15px;
    }

    td.item-name a {
        font-size: 13px !important;
    }

    table.shop-container th {
        font-size: 13px;
    }

    .quantity input {
        width: 50px;
    }

    th.item-quantity {
        display: table-caption;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 65px !important;
        white-space: nowrap;
    }

    table.cart .item-remove a {
        height: 30px;
        width: 30px;
        line-height: 28px;
    }

    .quantity input {
        height: 30px;
    }
}

.discount {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.discount .price-old {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 600;
    color: #777777;
    position: relative;
}

.discount .price-old:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    background: #777777;
}

.discount .price-new {
    color: #019cb2;
    font-size: 36px;
    font-weight: 600;
}

.price .price-old {
    width: 100%;
    display: block;
}

.price .price-new {
    width: 100%;
    display: block;
    font-size: 17px;
}

.rnf > img {
    height: 10px;
    margin-right: 3px;
}

.sub-lang li a img {
    height: 10px;
    margin-right: 3px;
}

@media (max-width: 767px) {
    .input-bun-top {
        top: 0px !important;
    }
}

.menu-search-mid input:focus {
    outline: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.has-success .form-control {
    border-color: #dddddd;
}

.has-success .form-control:focus {
    border-color: #dddddd;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-error .form-control {
    border-color: #a94442 !important;
}

.prod-fisc {
    /*    border: 1px dashed #222222;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;*/
}

.prod-fisc .form-group {
    float: left;
    width: 100%;
    margin-top: 0;
}

.prod-fisc input.btn {
    background: #222 none repeat scroll 0 0;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 12px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-weight: bold;
}

.prod-fisc input.btn:hover {
    background: #019cb2 none repeat scroll 0 0;
    color: #fff;
}

.prod-fisc .form-group .form-control {
    padding: 19px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #7e7e7e;
}

.form-container {
    float: left;
    width: 100%;
    padding-top: 15px;
    /*border: 1px dashed #222222;*/
    /*margin-bottom: 15px;*/
}

.form-container .title-group-parent.grp-three {
    margin-bottom: 35px;
    margin-top: 10px;
}

.modal-up .total-price {
    font-size: 14px;
    color: rgb(91, 91, 91);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    border: 1px solid #a4a4a4;
    padding: 5px 10px;
}

@media(max-width: 767px) {
    .prod-fisc .form-group .form-control {
        margin-bottom: 10px;
    }

    table.shop-container .item-row td:first-child {
        display: none;
    }
}

table.shop-container th.item-quantity {
    padding: 0 20px;
    text-align: center;
}

table.shop-container th.item-nom {
    padding-right: 43px;
}

table.shop-container td.item-quantity {
    text-align: center;
}

#home p {
    margin-bottom: 0;
}

.pro-img-tab-slider .item a img {
    background: none;
}

.content-page {
    margin: 30px 0;
}
